textarea {
    resize: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 50px;
    display: flex;
}

h1 {
   align-items: center;
}

label {
    margin-top: 10px;
    display: block;
}
